spring:
  application:
    name: bff

  security:
    oauth2:
      client:
        registration:
          hsid:
            client-id: ${HSID_CLIENT_ID}
            client-authentication-method: none
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            scope: openid, profile, email
        provider:
          hsid:
            issuer-uri: ${HSID_IDP_ORIGIN:https://nonprod.identity.healthsafe-id.com}
            authorization-uri: ${HSID_IDP_ORIGIN:https://nonprod.identity.healthsafe-id.com}/oidc/authorize
            token-uri: ${HSID_IDP_ORIGIN:https://nonprod.identity.healthsafe-id.com}/oidc/token
            jwk-set-uri: ${HSID_IDP_ORIGIN:https://nonprod.identity.healthsafe-id.com}/oidc/jwks
            user-info-uri: ${HSID_IDP_ORIGIN:https://nonprod.identity.healthsafe-id.com}/oidc/userinfo
            user-name-attribute: sub

server:
  port: 8080

app:
  frontend-redirect-path: ${FRONTEND_REDIRECT_PATH:/dashboard}
  frontend-error-path: ${FRONTEND_ERROR_PATH:/auth-error}
  cors:
    allowed-origins: ${CORS_ALLOWED_ORIGINS:http://localhost:4202,http://localhost:4203,http://localhost:4204}
